/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: white;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    user-select: none;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}
/*-------------------------------------*/
/* REUSABLE COMPONENT */
/*-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
   
}

.box {
    padding: 1%;
}



/*-------------------------------------*/
/* HEADER */
/*-------------------------------------*/


nav {
   
    background-color: #f4f4f4;
    height: 100px;
}
nav h3 {
    padding: 0 10px 10px;
    height: 50px;
    position: absolute;
    margin-top: 30px;
    font-size: 30px;
    margin-left: -40px;
    font-family: 'Shippori Mincho', serif;
}

nav h3 span {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}

nav .main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 200px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: #5f5f5f;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 1px;
    }

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    color: black;
}

nav .fa {
    color: black;
    font-size: 20px;
    float: left;
    box-sizing: border-box;
    margin-left: 85%;
    margin-top: -31px;
    border: 5px solid red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    background-color: red;
    opacity: 0.3;
}

nav .fa:hover{
    opacity: 1;
    cursor: pointer;
}

p {
    float: right;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: 500;
    margin-top: -38px;
    text-transform: capitalize;
    color: #8b8b8b;
    margin-right: -50px;
}
.con {
    float: right;
    margin-top: -1px;
    font-size: 16px;
    margin-right: -30px;
    cursor: text;
}
p .fa {
    font-size: 20px;
    margin-top: -22px;
    color: black;
    background-color: transparent;
    border: none;
}


header {
   background-image:linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.3)),url(image/about%20us%20hero%20image);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header h1 {
    text-align:center;
    color: white;
    margin-top: 100px;
}

.home{
    position: absolute;
     width: 100%;
    height: 60px;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 2px;
    margin-top: -80px
}

.home h2 {
    font-size: 20px;
    text-align:center;
    font-weight: 300;
    color: black;
    cursor: text;
    font-weight: 500;
    margin-top: 20px;
}

.home h2 .fa{
    background-color: transparent;;
    border-radius: 0;
    border: none;
    text-decoration: none;
}

h2 a {
    text-decoration: none;
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 500;
}



/*-------------------------------------*/
/* IMAGE - SECTION */
/*-------------------------------------*/

.section-image {
    width: 100%;
    position: relative;
    background-color: #e8e8e8;
}

.image-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.image img {
    width: 334.79px;
    height: 257.06px;
    margin: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 100px;
}

.text h3 a{
    display: block;
    margin-left: 19.5px;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    margin-top: -105px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    font-family: 'Cabin', sans-serif;
    width: 336.02px;
    text-align-last: center;
    height: 90px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}






.text2 h3 a{
    display: block;
    margin-left: 19.5px;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    margin-top: -105px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    font-family: 'Cabin', sans-serif;
    width: 336.02px;
    text-align-last: center;
    height: 90px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 15px;
    text-decoration:none;
    color: black;
}

.text3 h3 a{
    display: block;
    margin-left: 19.5px;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    margin-top: -105px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    font-family: 'Cabin', sans-serif;
    width: 336.02px;
    text-align-last: center;
    height: 90px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}

.text4 h3 a{
    display: block;
    margin-left: 19.5px;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    margin-top: -105px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    font-family: 'Cabin', sans-serif;
    width: 336.02px;
    text-align-last: center;
    height: 90px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}

.text5 h3 a{
    display: block;
    margin-left: 19.5px;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    margin-top: -105px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    font-family: 'Cabin', sans-serif;
    width: 336.02px;
    text-align-last: center;
    height: 90px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}

.text6 h3 a{
    display: block;
    margin-left: 19.5px;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    margin-top: -105px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    font-family: 'Cabin', sans-serif;
    width: 336.02px;
    text-align-last: center;
    height: 90px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}


/*-------------------------------------*/
/* TEXT - HOVER */
/*-------------------------------------*/

.text a:hover {
    color: red;
}
.text1 a:hover {
    color: red;
}.text2 a:hover {
    color: red;
}.text3 a:hover {
    color: red;
}.text4 a:hover {
    color: red;
}.text5 a:hover {
    color: red;
}
.text6 a:hover {
    color: red;
}
.date-1 {
    position: absolute;
    height: 30px;
    width: 200px; 
    border-radius: 30px;
    background-color: #ea3a60;
    margin-top: -330px;
    margin-left: 50px;    
}

.date-1 p{
    position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2px;
    font-family: sans-serif;
    padding: 1px 15px;
    font-size: 13px;
    
}


.date-2 {
    position: absolute;
    height: 30px;
    width: 200px; 
    border-radius: 30px;
    background-color: #ea3a60;
    margin-top: -330px;
    margin-left: 50px;    
}

.date-2 p {
     position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2px;
    font-family: sans-serif;
    padding: 1px 15px;
    font-size: 13px;
}

.date-3 {
    position: absolute;
    height: 30px;
    width: 200px; 
    border-radius: 30px;
    background-color: #ea3a60;
    margin-top: -330px;
    margin-left: 50px;    
}

.date-3 p {
     position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2px;
    font-family: sans-serif;
    padding: 1px 15px;
    font-size: 13px;
}

.date-4 {
    position: absolute;
    height: 30px;
    width: 200px; 
    border-radius: 30px;
    background-color: #ea3a60;
    margin-top: -330px;
    margin-left: 50px;    
}

.date-4 p {
     position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2px;
    font-family: sans-serif;
    padding: 1px 15px;
    font-size: 13px;
}

.date-5 {
    position: absolute;
    height: 30px;
    width: 200px; 
    border-radius: 30px;
    background-color: #ea3a60;
    margin-top: -330px;
    margin-left: 50px;    
}

.date-5 p {
     position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2px;
    font-family: sans-serif;
    padding: 1px 15px;
    font-size: 13px;
}
.date-6 {
    position: absolute;
    height: 30px;
    width: 200px; 
    border-radius: 30px;
    background-color: #ea3a60;
    margin-top: -330px;
    margin-left: 50px;    
}

.date-6 p {
     position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2px;
    font-family: sans-serif;
    padding: 1px 15px;
    font-size: 13px;
}

.date-1 p:hover {
    cursor: text;
}
.date-2 p:hover {
    cursor: text;
}
.date-3 p:hover {
    cursor: text;
}
.date-4 p:hover {
    cursor: text;
}
.date-5 p:hover {
    cursor: text;
}
.date-6 p:hover {
    cursor: text;
}


/*-------------------------------------*/
/*---- FOOTER-SECTION---------- */
/*-------------------------------------*/

.footer-section {
    background: #333333;
    margin-left: -40px;
    height: 90vh;
}

/*---- FOOTER-SECTION - BOX - 1 ---------- */

.box1 {
    width: 370px;
    height: 350px;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.box1 h2 {
    font-size: 25px;
    color: white;
}
.box1 p {
    margin-left: -190px;
     color: #c6c6c6;
    margin-top: 50px;
    line-height: 27px;
    font-size: 16px;
}
.footer-icon {
    display: flex;
    position: absolute;
    margin-top: 170px;
}
.fa {
    margin: 10px;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}
.facebook .fa:hover {
    color: #3b5998;
     border: 1px solid black;
    
}
.twitter .fa:hover {
    color: #3b5998;
    border: 1px solid black;
}
.instagram .fa:hover {
    color: orangered;
    border: 1px solid black;
}
.linkedin .fa:hover {
    color: red;
    border: 1px solid black;
}

/*---- FOOTER-SECTION - BOX - 2 ---------- */

.box2 {
    position: absolute;
     width: 370px;
    height: 350px;
    margin-left: 390px;
    align-items: center;
}

 .box2 h2 {
    float: left;
    font-size: 25px;
    color: white;
}

.box2 .fa {
    float: left;
    border-radius: 0;
    background-color: transparent;
    margin-left: -130px;
    margin-top: 35px;
    line-height: 27px;
    font-size: 18px;
    color: #c6c6c6;
}

.box2-contact{
    position: absolute;
    margin-top: 100px;
    margin-left: 130px;
}

.box2-contact span {
    color: #c6c6c6;
}

.box2-contact span:hover {
    color: white;
    cursor: pointer;
}

.box2-mail{
    position: absolute;
    margin-top: 140px;
    margin-left: 130px;
}

.box2-mail span {
    color: #919191;
}

.box2-mail span:hover {
    color: white;
    cursor: pointer;
}

/*---- FOOTER-SECTION - BOX - 3 ---------- */
.box3 {
    position: absolute;
     width: 370px;
    height: 350px;
    margin-left: 730px;
    align-items: center;
}

 .box3 h2 {
    float: left;
    font-size: 25px;
    color: white;
}

.box3 .list {
    position: absolute;
    margin-top:45px;
    list-style-position: inside;
    line-height: 30px;
}

.list li a {
    text-decoration: none;
    color:#c6c6c6;
    font-size: 18px;
    font-family:serif;
    letter-spacing: 2px;
    font-weight: 300;
}

.list li a:hover {
    color: white;
}

ul li::marker {
    color: #c6c6c6;
}

/*---- FOOTER-SECTION - BOX - 4 ---------- */

.box4 {
    position: absolute;
    width: 370px;
    height: 350px;
    margin-left: 930px;
    align-items: center;
}

 .box4 h2 {
    float: left;
    font-size: 25px;
    color: white;
}

.box4 p  {
    position: absolute;
    margin-left: auto;
    border: none;
    
}

.box4 a {
    text-decoration: none;
    color:white;
    color: #c6c6c6;
    font-size: 16px;
    font-family: 'Shippori Mincho', serif;
}

.box4 a:hover {
    color: white;
}

.box4 span {
    position: absolute;
    margin-top: 110px;
    font-size: 15px;
    margin-left: -180px;
    
}

.box4-two {
    position: absolute;
    margin-top: 110px;
    width: 100%;
    
}

.box4-two span {
    position: absolute;
    margin-left: 30px;
}

/*---- FOOTER-SECTION - BOX - 4 ---------- */

.span {
    position: absolute;
    width: 500px;
    height: 200px;
    margin-top:auto;
    color: white;
    font-family: serif;
    color: white;
    font-size: 12px;
    margin-left: 30px;
}

.span h1 {
    position: absolute;
    margin-top: 30px;
    
}

.span p{
    position: absolute;
    margin-top:80px;
    font-size: 16px;
    color: #c6c6c6;
    width: 150%;
    font-weight: 700;
}

.span input {
    position: absolute;
    margin-left: 650px;
    box-sizing: border-box;
    margin-top: 40px;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    font-size: 18px;
    color: #a8a7a7;
}

.span input::placeholder {
    color: #818181;
    padding: 27px;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.span button {
    position: absolute;
    margin-left: 1100px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: none;
}

.span button .fa {
    position: absolute;
    background-color:transparent;
    color: black;
    margin-top: 25px;
    box-shadow: inherit;
    font-size: 20px;
}

.span button .fa:hover {
    cursor: pointer;
    color: white;
}

input:placeholder-shown {
    border: 2px solid #000000;
}

footer {
    width: 100%;
    height: 80px;
    text-align-last: center;
    line-height: 85px;
    background: #4a4a4a;
    color: #919191;
}













